/*index page*/
ul.dropdown-menu {
    padding: 10px;
}
ul.dropdown-menu > li {
    text-indent: 3px;
}
ul.dropdown-menu > li > label {
    font-weight: normal;
}
#search-box label{
    font-weight: normal;
}
ul.pagination {
    margin: 0px;
}
table th, table td {
    text-align: center;
}
.op-divider {
    display:inline-block;
    width: 1px;
    margin: 0 5px;
    height: 0.9em;
    position:relative;
    top:-.06em;
    background: #e8e8e8;
    vertical-align: middle
}
/*info page*/
.control-label.error,.check-container > label {
    font-weight: normal;
}
.control-label.error {
    font-weight: normal;
}
.help-block {
    margin: 2px 0px 0px;
    color: grey;
    font-size: 0.9em;
}
li.list-group-item {
    padding: 5px 15px;
}
form .required:before {
    content: "*";
    color: red;
}
/*modal*/
.modal > .modal-dialog {
    width: 350px;
}