{extend name="layout/base" /}
{block name="title"}{$title ?? '角色组'}{/block}
{block name="pageHeader"}角色组{/block}
{block name="description"}创建{/block}
{block name="css"}
<link rel="stylesheet" href="__PLUGINS__/iCheck/all.css">
<!--<link rel="stylesheet" href="__PLUGINS__/bootstrap-treeview/bootstrap-treeview.min.css">-->
<style>
    .list-group-item {
        border: none;
    }
</style>
{/block}
{block name="body"}
<div class="row">
    <div id="content" class="col-xs-12">
        <div class="box box-info">
            <div class="box-header">
                <h3 class="box-title">创建 <a href="javascript:history.go(-1)"><i class="fa fa-undo"></i></a></h3>
            </div>
            <form id="form" class="form-horizontal">
                <div class="box-body">
                    <div class="form-group">
                        <label class="control-label col-sm-2 required">名称</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-pencil"></i></div>
                                <input name="name" type="text" class="form-control" value="">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">权限</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <div id="ruleTree"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="button" onclick="admin.create()" class="btn btn-primary pull-right">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>
{/block}
{block name="js"}
<script src="__PLUGINS__/iCheck/icheck.min.js"></script>
<script src="__PLUGINS__/bootstrap-treeview/bootstrap-treeview.min.js"></script>
<script type="text/javascript">
    menuJs.show('/admin/role')
    var tree = [
        {
            text:"Parent 1",
            nodes: [
                {
                    icon:"glyphicon glyphicon-stop",
                    selectedIcon:"glyphicon glyphicon-stop",
                    selectable:true,
                    text:"Child 1",
                    nodes: [
                        {
                            text:"Grandchild 1"
                        },
                        {
                            text:"Grandchild 2"
                        }
                    ]
                },
                {
                    text:"Child 2"
                }
            ]
        },
        {
            text:"Parent 2"
        },
    ];
    let role = {
        initCheck : function () {
            $('input[type="checkbox"].minimal').iCheck({
                checkboxClass: 'icheckbox_minimal-blue'
            })
        },
        initRuleTree: function () {
            $("#ruleTree").treeview({
                data: tree,
                levels: 1,
                multiSelect: true,
                onNodeSelected: function(event, node) {
                    $('#selectable-output').prepend('<p>' + node.text + ' was selected</p>');
                },
                onNodeUnselected: function (event, node) {
                    $('#selectable-output').prepend('<p>' + node.text + ' was unselected</p>');
                }
            })
        },
        create : function () {
            $('.form-group').removeClass('has-error')
            $('label.error').remove()
            $.post('/admin/role/create', $('#form').serialize() ,function (res) {
                if (res.code == 0) {
                    window.location.href = '/admin/role'
                } else {
                    for (let key in res.message) {
                        let node = $("[name=\'" + key + "\'], [name=\'"+ key + "[]" + "\']").parents('.form-group').addClass('has-error')
                        node.children('label').after('<label class="control-label error"><i class="fa fa-times"></i> '+res.message[key]+'</label>')
                    }
                }
            })
        },
    }
    $(function () {
        role.initCheck()
        role.initRuleTree()
    })
</script>
{/block}