{extend name="layout/base" /}
{block name="title"}{$title ?? '角色组'}{/block}
{block name="pageHeader"}角色组{/block}
{block name="description"}创建{/block}
{block name="css"}
<link rel="stylesheet" href="__PLUGINS__/iCheck/all.css">
{/block}
{block name="body"}
<div class="row">
    <div id="content" class="col-xs-12">
        <div class="box box-info">
            <div class="box-header">
                <h3 class="box-title">创建 <a href="javascript:history.go(-1)"><i class="fa fa-undo"></i></a></h3>
            </div>
            <form id="form" class="form-horizontal">
                <div class="box-body">
                    <div class="form-group">
                        <label class="control-label col-sm-2 required">名称</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-pencil"></i></div>
                                <input name="name" type="text" class="form-control" value="">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">权限</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <div id="ruleTree"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="button" onclick="role.create()" class="btn btn-primary pull-right">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>
{/block}
{block name="js"}
<script src="__PLUGINS__/iCheck/icheck.min.js"></script>
<script src="__PLUGINS__/bootstrap-treeview/bootstrap-treeview.min.js"></script>
<script type="text/javascript">
    menuJs.show('/admin/role')
    var treedata = [
        {
            text:" 管理",
            nodes: [
                {
                    text:" Child 1",
                    nodes: [
                        {
                            text:" Grandchild 1"
                        },
                        {
                            text:" Grandchild 2"
                        }
                    ]
                },
                {
                    text:"Child 2"
                }
            ]
        },
        {
            text:" Parent 2"
        },
    ];
    let tree = {
        initTree: function (id) {
            $("#" + id).treeview({
                data: treedata,
                levels: 3,
                showCheckbox: true,
                showBorder: false,
                highlightSelected: false,
                expandIcon: "fa fa-caret-right",
                collapseIcon: "fa fa-caret-down",
                uncheckedIcon: "fa fa-square-o fa-lg",
                checkedIcon: "fa fa-check-square-o fa-lg",
                onhoverColor: "#fff",
                onNodeChecked: function(event, node) {
                    tree.operatedChildNodes(id, node, "checkNode")
                    tree.toggleParentNodeState(id, node, "checked")
                },
                onNodeUnchecked: function (event, node) {
                    tree.operatedChildNodes(id, node, "uncheckNode")
                    tree.toggleParentNodeState(id, node, "unchecked")
                }
            })
        },
        operatedChildNodes: function (id, parentNode, eventName) {
            if (parentNode.nodes != undefined) {
                for (var i = 0; i < parentNode.nodes.length; i++) {
                    $("#" + id).treeview(eventName, [ parentNode.nodes[i].nodeId, { silent: true } ]);
                    tree.operatedChildNodes(id, parentNode.nodes[i], eventName)
                }
            }
        },
        toggleParentNodeState: function (id, node, curNodeState) {
            if (curNodeState == "checked") {
                var sibNode = $("#" + id).treeview("getSiblings", node)
                var result = true
                for (let i = 0; i < sibNode.length; i++) {
                    if (sibNode[i].state.checked == false) {
                        result = false
                    }
                }
                if (result == true) {
                    if (node.parentId != undefined) {
                        $("#" + id).treeview("checkNode", [ node.parentId, { silent: true } ])
                        var parentNode = $("#" + id).treeview("getParent", node)
                        tree.toggleParentNodeState(id, parentNode, "checked")
                    } else {
                        $("#" + id).treeview("checkNode", [ node, { silent: true } ])
                    }
                }
            }
            if (curNodeState == "unchecked") {
                if (node.parentId != undefined) {
                    var parentNode = $("#" + id).treeview("getParent", node)
                    if (parentNode.state.checked == true) {
                        $("#" + id).treeview('uncheckNode', [ parentNode, { silent: true } ])
                        tree.toggleParentNodeState(id, parentNode, "unchecked")
                    }
                }
            }
        }
    }
    let check = {
        initCheck : function () {
            $('input[type="checkbox"].minimal').iCheck({
                checkboxClass: 'icheckbox_minimal-blue'
            })
        }
    }
    let role = {
        create : function () {
            $('.form-group').removeClass('has-error')
            $('label.error').remove()
            $.post('/admin/role/create', $('#form').serialize() ,function (res) {
                if (res.code == 0) {
                    window.location.href = '/admin/role'
                } else {
                    for (let key in res.message) {
                        let node = $("[name=\'" + key + "\'], [name=\'"+ key + "[]" + "\']").parents('.form-group').addClass('has-error')
                        node.children('label').after('<label class="control-label error"><i class="fa fa-times"></i> '+res.message[key]+'</label>')
                    }
                }
            })
        },
    }
    $(function () {
        check.initCheck()
        tree.initTree("ruleTree")
    })
</script>
{/block}