{extend name="layout/base" /}
{block name="title"}{$title ?? '角色组'}{/block}
{block name="pageHeader"}角色组{/block}
{block name="description"}编辑{/block}
{block name="css"}
<link rel="stylesheet" href="__PLUGINS__/iCheck/all.css">
{/block}
{block name="body"}
<div class="row">
    <div id="content" class="col-xs-12">
        <div class="box box-info">
            <div class="box-header">
                <h3 class="box-title">编辑 <a href="javascript:history.go(-1)"><i class="fa fa-undo"></i></a></h3>
            </div>
            <form id="form" class="form-horizontal">
                <div class="box-body">
                    <div class="form-group">
                        <label class="control-label col-sm-2 required">名称</label>
                        <div class="col-sm-4">
                            <input id="name" name="name" type="text" class="form-control" value="{$info['name'] ?? ''}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2 required">权限</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <div id="ruleTree"></div>
                                <input name="rules" type="hidden">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <input id="ruleList" type="hidden" value="{$ruleList}">
                    <input id="info" type="hidden" value="{$info ?? ''}">
                    <button type="button" onclick="role.update()" class="btn btn-primary pull-right">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>
{/block}
{block name="js"}
<script src="__PLUGINS__/iCheck/icheck.min.js"></script>
<script src="__PLUGINS__/bootstrap-treeview/bootstrap-treeview.min.js"></script>
<script type="text/javascript">
    menuJs.show('/admin/role')
    let tree = {
        getData: function () {
            return tree.buildData(JSON.parse($("#ruleList").val()))
        },
        buildData: function (data) {
            var list = []
            if (data.length > 0) {
                for (let i = 0; i < data.length; i++) {
                    let nodeObj = {}
                    nodeObj.text = ' ' + data[i].name
                    nodeObj.id = data[i].id
                    if ($.inArray(data[i].id, role.getInfo().ruleIds) >= 0) {
                        nodeObj.state = {selected: true}
                    }
                    if (data[i].child != undefined && data[i].child.length > 0) {
                        nodeObj.nodes = tree.buildData(data[i].child)
                    }
                    list[i] = nodeObj
                }
            }
            return list
        },
        initTree: function (id) {
            $("#" + id).treeview({
                data: tree.getData(),
                levels: 2,
                multiSelect: true,
                showBorder: false,
                highlightSelected: false,
                expandIcon: "fa fa-caret-right",
                collapseIcon: "fa fa-caret-down",
                nodeIcon: "fa fa-square-o fa-lg",
                selectedIcon: "fa fa-check-square-o fa-lg",
                onhoverColor: "#fff",
                onNodeSelected: function(event, node) {
                    tree.operatedChildNodes(id, node, "selectNode")
                    tree.toggleParentNodeState(id, node, "selected")
                },
                onNodeUnselected: function (event, node) {
                    tree.operatedChildNodes(id, node, "unselectNode")
                    tree.toggleParentNodeState(id, node, "unselected")
                }
            })
        },
        operatedChildNodes: function (id, parentNode, eventName) {
            if (parentNode.nodes != undefined) {
                for (var i = 0; i < parentNode.nodes.length; i++) {
                    $("#" + id).treeview(eventName, [ parentNode.nodes[i].nodeId ]);
                }
            }
        },
        toggleParentNodeState: function (id, node, curNodeState) {
            if (curNodeState == "selected") {
                var sibNode = $("#" + id).treeview("getSiblings", node)
                var result = true
                for (let i = 0; i < sibNode.length; i++) {
                    if (sibNode[i].state.selected == false) {
                        result = false
                    }
                }
                if (result == true) {
                    if (node.parentId != undefined) {
                        $("#" + id).treeview("selectNode", [ node.parentId, { silent: true } ])
                        var parentNode = $("#" + id).treeview("getParent", node)
                        tree.toggleParentNodeState(id, parentNode, "selected")
                    } else {
                        $("#" + id).treeview("selectNode", [ node, { silent: true } ])
                    }
                }
            }
            if (curNodeState == "unselected") {
                if (node.parentId != undefined) {
                    var parentNode = $("#" + id).treeview("getParent", node)
                    if (parentNode.state.selected == true) {
                        $("#" + id).treeview('unselectNode', [ parentNode, { silent: true } ])
                        tree.toggleParentNodeState(id, parentNode, "unselected")
                    }
                }
            }
        },
        getAllCheckedIds: function () {
            var selectedNodes = $('#ruleTree').treeview('getSelected')
            var ids = []
            for (let i = 0; i < selectedNodes.length; i++) {
                ids.push(selectedNodes[i].id)
            }
            return ids
        }
    }
    let check = {
        initCheck : function () {
            $('input[type="checkbox"].minimal').iCheck({
                checkboxClass: 'icheckbox_minimal-blue'
            })
        }
    }
    let role = {
        getInfo: function () {
            return JSON.parse($("#info").val())
        },
        update : function () {
            $('.form-group').removeClass('has-error')
            $('label.error').remove()
            $.post('/admin/role/edit', {id: role.getInfo().id, name: $("#name").val(), rules: tree.getAllCheckedIds()} ,function (res) {
                if (res.code == 0) {
                    window.location.href = '/admin/role'
                } else {
                    for (let key in res.message) {
                        let node = $("[name=\'" + key + "\'], [name=\'"+ key + "[]" + "\']").parents('.form-group').addClass('has-error')
                        node.children('label').after('<label class="control-label error"><i class="fa fa-times"></i> '+res.message[key]+'</label>')
                    }
                }
            })
        },
    }
    $(function () {
        check.initCheck()
        tree.initTree("ruleTree")
    })
</script>
{/block}