<script src="__COMPONENTS__/jquery/dist/jquery.min.js"></script>
<script src="__COMPONENTS__/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="__ADMIN__/js/adminlte.min.js"></script>
<script src="__ADMIN__/js/custom.js"></script>
<script type="text/javascript">
    let menuJs = {
        url : '',
        activeNavWithShowBreadcrumb : function () {
            let menu1 = $('ul.sidebar-menu > li > a[href=\''+menuJs.url+'\']')
            if (menu1.length == 1) {
                menu1.parent().addClass('active')
            } else {
                let menu2 = $('ul.sidebar-menu ul > li > a[href=\''+menuJs.url+'\']')
                if (menu2.length == 1) {
                    menu2.parent().addClass('active')
                    let menu2Name = $.trim(menu2.find('span').text())
                    menu1 = menu2.parents('li.treeview')
                    menu1.addClass('active').addClass('menu-open')
                    let menu1Name = $.trim(menu1.children('a').find('span').text())
                    let html = '<li>'+menu1Name+'</li><li class="active">'+menu2Name+'</li>'
                    $('ol.breadcrumb').append(html)
                }
            }
        },
        show : function (url) {
            menuJs.url = url
            menuJs.activeNavWithShowBreadcrumb()
        }
    }
</script>