{extend name="layout/base" /}
{block name="title"}{$title ?? '管理员'}{/block}
{block name="pageHeader"}管理员{/block}
{block name="description"}一个管理员可以有多个角色组,左侧的菜单根据管理员所拥有的权限进行生成{/block}
{block name="css"}
<link rel="stylesheet" href="__COMPONENTS__/datatables.net-bs/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="__PLUGINS__/iCheck/all.css">
{/block}
{block name="body"}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <div class="pull-left">
                    <a href="" class="btn btn-sm bg-navy"><i class="fa fa-refresh"></i> 刷新</a>
                    <button type="button" onclick="admin.showSearchBox()" class="btn btn-sm bg-light-blue"><i class="fa fa-filter"></i> 筛选</button>
                </div>
                <div class="pull-right">
                    <a href="/admin/admin/create" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> 添加</a>
                    <button type="button" disabled onclick="admin.delete(check.getSelectIds())" class="btn btn-sm btn-danger delete-all"><i class="fa fa-trash-o"></i> 删除</button>
                    <button type="button" class="btn btn-sm dropdown-toggle bg-light-blue-active" data-toggle="dropdown"><i class="fa fa-table"></i>&nbsp;&nbsp;<span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><label><input checked type="checkbox" value="1" class="minimal column-select">&nbsp;&nbsp;&nbsp;ID</label></li>
                        <li><label><input checked type="checkbox" value="2" class="minimal column-select">&nbsp;&nbsp;&nbsp;用户名</label></li>
                        <li><label><input checked type="checkbox" value="3" class="minimal column-select">&nbsp;&nbsp;&nbsp;昵称</label></li>
                        <li><label><input checked type="checkbox" value="4" class="minimal column-select">&nbsp;&nbsp;&nbsp;角色</label></li>
                        <li><label><input checked type="checkbox" value="5" class="minimal column-select">&nbsp;&nbsp;&nbsp;手机号</label></li>
                        <li><label><input checked type="checkbox" value="6" class="minimal column-select">&nbsp;&nbsp;&nbsp;状态</label></li>
                        <li><label><input checked type="checkbox" value="7" class="minimal column-select">&nbsp;&nbsp;&nbsp;最后登录IP</label></li>
                        <li><label><input checked type="checkbox" value="8" class="minimal column-select">&nbsp;&nbsp;&nbsp;最后登录时间</label></li>
                        <li><label><input checked type="checkbox" value="9" class="minimal column-select">&nbsp;&nbsp;&nbsp;创建时间</label></li>
                    </ul>
                </div>
            </div>
            <div class="box-header hide" id="search-box">
                <form action="" class="form-horizontal" method="get">
                    <div class="box-body">
                        <div class="form-group">
                            <label class="control-label col-sm-1">用户名</label>
                            <div class="col-sm-2">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-addon"><i class="fa fa-pencil"></i></div>
                                    <input id="username" type="text" class="form-control">
                                </div>
                            </div>
                            <label class="control-label col-sm-1">昵称</label>
                            <div class="col-sm-2">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-addon"><i class="fa fa-pencil"></i></div>
                                    <input id="name" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-2 text-center">
                                <button type="button" onclick="admin.search()" class="btn btn-sm btn-info"><i class="fa fa-search"></i> 搜索</button>
                                <button type="reset" class="btn btn-sm btn-default"><i class="fa fa-refresh"></i> 重置</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                <table id="table" class="table table-bordered">
                    <thead>
                    <tr>
                        <th>
                            <input id="select-all" type="checkbox" class="minimal">
                        </th>
                        <th>ID</th>
                        <th>用户名</th>
                        <th>昵称</th>
                        <th>角色</th>
                        <th>手机号</th>
                        <th>状态</th>
                        <th>最后登录IP</th>
                        <th>最后登录时间</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="js"}
<script src="__PLUGINS__/iCheck/icheck.min.js"></script>
<script src="__COMPONENTS__/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="__COMPONENTS__/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">
    menuJs.show('/admin/admin')
    let check = {
        init: function () {
            $('input[type="checkbox"].minimal').iCheck({
                checkboxClass: 'icheckbox_minimal-blue'
            })
            $('#select-all').on('ifChecked', function () {
                $("input[name='rowId']").iCheck('check')
            })
            $('#select-all').on('ifUnchecked', function () {
                $("input[name='rowId']").iCheck('uncheck')
            })
            $("table input[name='rowId']").on('ifChanged', function () {
                if (check.getSelectIds().length == 0) {
                    $('.delete-all').attr('disabled', true)
                } else {
                    $('.delete-all').attr('disabled', false)
                }
            })
        },
        getSelectIds: function () {
            let ids = [];
            $("table input:checked[name='rowId']").each(function () {
                ids.push(parseInt($(this).val()));
            });
            return ids;
        }
    }
    let admin = {
        dataTable: null,
        tableOptions: {
            "searching": false,
            "ordering": false,
            "serverSide": true,
            "ajax": {
                "type": "post",
                "url": "/admin/admin",
                "data": function (data) {
                    data.page = parseInt(data.start/data.length) + 1
                    data.username = $('#username').val()
                    data.name = $('#name').val()
                },
                "dataSrc": function (result) {
                    if (result.code != 0) {
                        $.modal.alert({
                            msg: result.message
                        })
                        result.draw = result.data.draw
                        result.recordsTotal = 0
                        result.recordsFiltered = 0
                        result.data.data = {}
                    } else {
                        result.draw = result.data.draw
                        result.recordsTotal = result.data.count
                        result.recordsFiltered = result.data.count
                    }
                    return result.data.data
                },
            },
            "columns": [
                {
                    "data": "id",
                    "render": function (id) {
                        return '<input name="rowId" type="checkbox" class="minimal" value="'+id+'">'
                    }
                },
                {"data": "id"},
                {"data": "username"},
                {"data": "name"},
                {
                    "data": "roles_name",
                    "render": function (roles_name) {
                        var html = ''
                        for (var i = 0; i<roles_name.length; i++) {
                            html += '<span class="label label-info">'+roles_name[i]+'</span> '
                        }
                        return html
                    }
                },
                {"data": "mobile_phone"},
                {
                    "data": "status",
                    "render": function (status) {
                        var html = ''
                        if (status == '启用') {
                            html = '<span class="label label-success">'+status+'</span>'
                        } else {
                            html = '<span class="label label-danger">'+status+'</span>'
                        }
                        return html
                    }
                },
                {"data": "last_login_ip"},
                {"data": "last_login_time"},
                {"data": "create_time"},
                {
                    "data": "id",
                    "render": function (id, type, row) {
                        if (id == 1) {
                            return ''
                        }
                        var html = ''
                        if (row.status == '启用') {
                            html += '<a href="javascript:;" onclick="admin.toggleStatus('+id+', 0)">禁用</a>'
                        } else {
                            html += '<a href="javascript:;" onclick="admin.toggleStatus('+id+', 1)">启用</a>'
                        }
                        html += '<div class="op-divider"></div><a href="/admin/admin/edit?id='+id+'">编辑</a>'
                        html += '<div class="op-divider"></div><a href="javascript:;" onclick="admin.delete('+id+')">删除</a>'
                        return '<span>'+html+'</span>'
                    }
                },
            ],
            "language": {
                "url": "__ADMIN__/config/dataTables.zh_CN.json"
            }
        },
        initTable: function (id) {
            admin.dataTable = $("#" + id).DataTable(admin.tableOptions)
            admin.dataTable.on('draw', function () {
                check.init()
                $("input.column-select").on('ifChecked', function () {
                    admin.dataTable.column($(this).val()).visible(true)
                })
                $("input.column-select").on('ifUnchecked', function () {
                    admin.dataTable.column($(this).val()).visible(false)
                })
            } );
        },
        showSearchBox: function () {
            if ($('#search-box').hasClass('hide')) {
                $('#search-box').removeClass('hide')
            } else {
                $('#search-box').addClass('hide')
            }
        },
        search: function () {
            admin.dataTable.ajax.reload()
        },
        toggleStatus(id, status) {
            $.post("/admin/admin/toggle", {id: id, status: status}, function (res) {
                if (res.code == 0) {
                    admin.dataTable.ajax.reload()
                } else {
                    $.modal.alert({
                        msg: res.message
                    })
                }
            })
        },
        delete: function (id) {
            if (id.length == 0) {
                $.modal.alert('您还未未选中任何数据')
                return false
            }
            let ids = []
            if (id.length > 0) {
                ids = id
            } else {
                ids.push(id)
            }
            $.modal.confirm({
                msg: '确定删除数据吗？',
                yes: function () {
                    $.post("/admin/admin/delete", {ids: ids}, function (res) {
                        if (res.code == 0) {
                            admin.dataTable.ajax.reload()
                        } else {
                            $.modal.alert({
                                msg: res.message
                            })
                        }
                    })
                }
            })
        }
    }
    $(function () {
        admin.initTable('table')
    })
</script>
{/block}