{extend name="layout/base" /}
{block name="title"}{$title ?? '管理员'}{/block}
{block name="pageHeader"}管理员{/block}
{block name="description"}编辑{/block}
{block name="css"}
<link rel="stylesheet" href="__PLUGINS__/iCheck/all.css">
{/block}
{block name="body"}
<div class="row">
    <div id="content" class="col-xs-12">
        <div class="box box-info">
            <div class="box-header">
                <h3 class="box-title">编辑 <a href="javascript:history.go(-1)"><i class="fa fa-undo"></i></a></h3>
            </div>
            <form id="form" class="form-horizontal">
                <div class="box-body">
                    <div class="form-group">
                        <label class="control-label col-sm-2 required">用户名</label>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-pencil"></i></div>
                                <input name="username" type="text" class="form-control" value="{$info->username}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">昵称</label>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-pencil"></i></div>
                                <input name="name" type="text" class="form-control" value="{$info->name}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">手机号</label>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-phone"></i></div>
                                <input name="mobile" type="text" class="form-control" value="{$info->mobile_phone}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">密码</label>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-eye-slash"></i></div>
                                <input name="password" type="password" class="form-control" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">确认密码</label>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-eye-slash"></i></div>
                                <input name="re_password" type="password" class="form-control" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">角色</label>
                        <div class="col-sm-6">
                            <div class="check-container">
                                {foreach name="roleList" item="role"}
                                <label class="control-label"><input name="roles[]" type="checkbox" class="minimal" value="{$role->id}" {$role->id, $info->roleIds|is_check}> {$role->name}</label>
                                {/foreach}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">状态</label>
                        <div class="col-sm-6">
                            <div class="check-container">
                                <label class="control-label"><input name="status" type="radio" class="minimal" value="1" {eq name="$info->status" value="启用"}checked{/eq}> 启用</label>
                                <label class="control-label"><input name="status" type="radio" class="minimal" value="0" {eq name="$info->status" value="禁用"}checked{/eq}> 禁用</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <input type="hidden" name="id" value="{$info->id}">
                    <button type="button" onclick="admin.update()" class="btn btn-primary pull-right">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>
{/block}
{block name="js"}
<script src="__PLUGINS__/iCheck/icheck.min.js"></script>
<script type="text/javascript">
    menuJs.show('/admin/admin')
    let admin = {
        roleCheckInit : function () {
            $('input[type="checkbox"].minimal').iCheck({
                checkboxClass: 'icheckbox_minimal-blue'
            })
        },
        statusCheckInit : function () {
            $('input[type="radio"].minimal').iCheck({
                radioClass: 'iradio_minimal-blue'
            })
        },
        update : function () {
            $('.form-group').removeClass('has-error')
            $('label.error').remove()
            $.post('/admin/admin/edit', $('#form').serialize() ,function (res) {
                if (res.code == 0) {
                    window.location.href = '/admin/admin'
                } else {
                    for (let key in res.message) {
                        let node = $("[name=\'" + key + "\'], [name=\'"+ key + "[]" + "\']").parents('.form-group').addClass('has-error')
                        node.children('label').after('<label class="control-label error"><i class="fa fa-times"></i> '+res.message[key]+'</label>')
                    }
                }
            })
        },
    }
    $(function () {
        admin.roleCheckInit()
        admin.statusCheckInit()
    })
</script>
{/block}