{extend name="layout/base" /}
{block name="title"}{$title ?? '后台菜单'}{/block}
{block name="pageHeader"}后台菜单{/block}
{block name="description"}一个菜单对应一个url，体现为左侧菜单{/block}
{block name="css"}
<link rel="stylesheet" href="__PLUGINS__/jquery-treetable/jquery.treetable.css">
<link rel="stylesheet" href="__PLUGINS__/iCheck/all.css">
{/block}
{block name="body"}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <div class="pull-left">
                    <a href="" class="btn btn-sm bg-navy"><i class="fa fa-refresh"></i> 刷新</a>
                </div>
                <div class="pull-right">
                    <a href="/admin/menu/create" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> 添加</a>
                </div>
            </div>
            <div class="box-body">
                <table id="table" class="table table-bordered">
                    <thead>
                    <tr>
                        <th width="3%"></th>
                        <th>ID</th>
                        <th>图标</th>
                        <th>名称</th>
                        <th>链接</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach name="menuAllList" item="menuLevel1"}
                    <tr data-tt-id="{$menuLevel1.id}">
                        <td></td>
                        <td>{$menuLevel1.id}</td>
                        <td><i class="fa {$menuLevel1.icon}"></i></td>
                        <td>{$menuLevel1.name}</td>
                        <td>{$menuLevel1.url}</td>
                        <td>{$menuLevel1.create_time}</td>
                        <td>
                            <a href="/admin/menu/edit?id={$menuLevel1.id}">编辑</a>
                            <div class="op-divider"></div>
                            <a href="/admin/menu/create?pid={$menuLevel1.id}">添加子菜单</a>
                            <div class="op-divider"></div>
                            <a href="javascript:;" onclick="menu.delete({$menuLevel1.id})">删除</a>
                        </td>
                    </tr>
                    {notempty name="menuLevel1.child"}
                    {foreach name="menuLevel1.child" item="menulevel2"}
                    <tr data-tt-id="{$menulevel2.id}" data-tt-parent-id="{$menulevel2.parent_id}">
                        <td></td>
                        <td>{$menulevel2.id}</td>
                        <td><i class="fa {$menulevel2.icon}"></i></td>
                        <td>{$menulevel2.name}</td>
                        <td>{$menulevel2.url}</td>
                        <td>{$menulevel2.create_time}</td>
                        <td>
                            <a href="/admin/menu/edit?id={$menulevel2.id}">编辑</a>
                            <div class="op-divider"></div>
                            <a href="javascript:;" onclick="menu.delete({$menulevel2.id})">删除</a>
                        </td>
                    </tr>
                    {/foreach}
                    {/notempty}
                    {/foreach}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="js"}
<script src="__PLUGINS__/iCheck/icheck.min.js"></script>
<script src="__PLUGINS__/jquery-treetable/jquery.treetable.js"></script>
<script type="text/javascript">
    menuJs.show('/admin/menu')
    let menu = {
        treeDataTable: null,
        initTable: function (id) {
            menu.treeDataTable = $("#" + id).treetable({
                expandable: true,
                indent: 30,
                expanderTemplate: '<i class="fa fa-caret-right fa-lg"></i>',
                stringCollapse: "折叠",
                stringExpand: "展开",
                onNodeExpand: function () {
                    $("tr[data-tt-id=" + $(this)[0].id + "] > td > span > i").removeClass("fa-caret-right").addClass("fa-caret-down")
                },
                onNodeCollapse: function () {
                    $("tr[data-tt-id=" + $(this)[0].id + "] > td > span > i").removeClass("fa-caret-down").addClass("fa-caret-right")
                }
            })
        },
        delete: function (id) {
            $.modal.confirm({
                msg: '确定删除数据吗？',
                yes: function () {
                    $.post("/admin/menu/delete", {id: id}, function (res) {
                        if (res.code == 0) {
                            window.location.reload()
                        } else {
                            $.modal.alert({
                                msg: res.message
                            })
                        }
                    })
                }
            })
        }
    }
    $(function () {
        menu.initTable('table')
    })
</script>
{/block}